%script{ :type => "text/javascript" }
  = js 'im'
#im-content
#im-digsby
  %embed{ :src  => "http://w.digsby.com/dw.swf?c=ok597i0rahry8c7a",  :type => "application/x-shockwave-flash", :wmode => "transparent", :width => "210", :height => "398" }
#im-tokbox
  %object{ :type=> "application/x-shockwave-flash", :data => "http://www.tokbox.com/f/jflo7ftn4s", :width=>"428", :height=>"207"}
    %param{ :name=>"movie", :value=>"http://www.tokbox.com/f/jflo7ftn4s"}
#im-gtalk
  %script{ :src => "http://gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/googletalk.xml&amp;synd=open&amp;w=320&amp;h=451&amp;title=Chat+with+vic.borja%40gmail.com&amp;lang=en&amp;country=US&amp;border=http%3A%2F%2Fgmodules.com%2Fig%2Fimages%2F&amp;output=js" }

  